html {
  font-family: 'Nunito', Helvetica;
  color: white;
  background-color: #141414;
}

@media screen and (min-width: 2100px) {
  div#left-container,
  div#right-container {
    position: relative;
    width: 50%;
  }

  div#left-container {
    float: left;
  }

  div#right-container {
    float: right;
  }
}

div#container {
  display: grid;
  grid-template-columns: 50% 50%;
}

div#button-panel {
  display: flex;
  justify-content: center;

  width: 40vw;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

div#button-panel > button {
  margin-left: 2px;
  margin-right: 2px;
}

div#popup {
  z-index: 3;
  position: absolute;
  left: 25%;
  top: 20%;
  width: 50vw;
  height: 40vh;
  background-color: #141414;
  margin: auto;
  padding: 10px;
  overflow-y: scroll;
}

div#popup > div {
  text-align: center;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

div#backdrop {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.85;
}

div#canvas-container {
  border: 1px solid lightgrey;
  border-radius: 6px;
}

div.planet-control {
  display: inline-block;
  margin-right: 3vw;
  padding-bottom: 1.25vh;
  border-bottom: 1px solid white;
}

button {
  font-family: 'Nunito', Helvetica;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #141414;
  color: white;
}

button:hover {
  cursor: pointer;
}

button#new-button {
  position: relative;
  left: 50%;
  top: 50%;
}

input {
  color: white;
  background-color: #141414;
  padding-left: 8px;
  border: none;
  border-bottom: 3px solid white;
}

input:hover {
  cursor: pointer;
}

input.col-input {
  border: none;
}

a {
  color: blue;
}

a:visited {
  color: orange;
}