@media screen and (min-width: 1200px) {
  div#left-container, div#right-container {
    position: relative;
    width: 50%;
  }

  div#left-container {
    float: left;
  }

  div#right-container {
    float: right;
  }
}

div#container {
  display: grid;
  grid-template-columns: 50% 50%;
}

div#button-panel {
  width: 40vw;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

div#popup {
  z-index: 3;
  position: absolute;
  left: 25%;
  top: 30%;
  width: 50vw;
  height: 30vh;
  background-color: white;
  margin: auto;
  padding: 10px;
  overflow-y: scroll;
}

div#popup>div {
  text-align: center;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

div#backdrop {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.85;
}

div.planet-control {
  display: inline-block;
  margin-right: 3vw;
}

button#new-button {
  position: relative;
  left: 50%;
  top: 50%;
}